section {
    max-width: 46rem;
    margin: 4rem auto 1.5rem;
    display: flex;
    justify-content: space-between;
}

section h2 {
    font-size: 0.875rem;
    font-weight: 700;
}

section h2:first-child {
    color: var(--blue);
}

section h2:last-child {
    color: var(--purple);
}

section h2 span {
    color: var(--gray-200);
    background-color: var(--gray-400);
    font-size: 0.75rem;
    margin-left: 0.5rem;
    padding: 0.15rem 0.5rem;
    border-radius: 10px;
}

@media (max-width: 768px) {
    section {
        padding: 0 2rem;
    }
}